@model MyLibrary.WebApp.Models.LoginVM


<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal" role="form">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Login" />
                    <a role="button" class="btn btn-secondary" asp-action="Register" asp-controller="Account">Click to register</a>
                </div>
            </div>
        </form>
    </div>
</div>



